---
Checks:          'clang-diagnostic-*,clang-analyzer-*,modernize-*,google-*'
WarningsAsErrors: ''
HeaderFileExtensions:
  - ''
  - h
  - hh
  - hpp
  - hxx
ImplementationFileExtensions:
  - c
  - cc
  - cpp
  - cxx
HeaderFilterRegex: 'source/.*'
ExcludeHeaderFilterRegex: ''
FormatStyle:     none
User:            Jerimiah
CheckOptions:    {}
SystemHeaders:   false
...

